.container {
    width: 1124px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    width: 100%;
}


header .logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
    width: 100%;
    height: 100px;
}
header .logo img {
    width: 100px;

}
header .logo h1 {
  padding:10px;
}
header .tiempo {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    width: 100%;
    height: 10px;
  
}

header .opciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    color: grey;
    border-bottom: 1px solid lightgrey;
}

header .opciones ul {
    padding: 0;
    display: flex;
    list-style-type: none;
}

header .opciones ul li {
    margin-right: 30px;
}

header .opciones ul li a {
    color: grey;
    font-size: 16px;
    font-family: Raleway, sans-serif;
    text-decoration: none;
}

/* news feed */


#news-feed .row .left-col {
    width: 75%;
     height:40%;

}
#news-feed .row .left-col img {
    width: 90%;
    padding:10px;
    height:40%;
}

#news-feed .row .left-col .boton{
  border:none;
  width:100%;
  color:#fff;
  font-size:20px;
  background:#527198;
  padding:  15 px 20px;
  border-radius:5px;
  cursor: pointer;

}

#news-feed .row .left-col .boton:hover{
background:#97bae7;
  
}

#news-feed .row .right-col {
    width: 15%;
}

#news-feed article {
    display: flex;
    flex-direction: column;
    padding-right: 3%;
    height: 100%;
}

#news-feed .row .left-col article {
    height: 100%;
}

#news-feed .row .right-col article {
    height: 50%;
}

#news-feed h1 {
    margin: 25px 0 20px 0;
    font-family: LibreFranklin-Bold, sans-serif;
    font-size: 36px; 
}

#news-feed h2 {
    color: black;
    font-family: LibreFranklin-Bold, sans-serif;
    font-size: 24px;
    flex-grow: 1;
}

#news-feed p {
    flex-grow: 1;
    font-size: 20px;
    font-family: LibreFranklin-Thin, sans-serif;
    color: grey;
}

#news-feed figure {
    margin: 0;
    margin-bottom: 25px;
    position: relative;
}

#news-feed figure img {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
}

#news-feed figure figcaption {
    width: auto;
    padding: 15px;
    border-radius: 5px;
    font-family: LibreFranklin-Bold, sans-serif;
    background: rgb(0, 0, 0, 0.6);

    position: absolute;
    bottom: 25px;
    left: 15px;
}

#news-feed figure:hover figcaption {
    background: black;
}

#news-feed figure figcaption span {
    color: white;
}

/* footer */

footer .icon {
    
    min-width: 1124px;
    width: 100%;
    background: rgb(245, 245, 245);
    height: 50%;
}



